*.md linguist-detectable=false
*.html linguist-detectable=false
*.css linguist-detectable=false
*.json linguist-detectable=false
*.ipynb linguist-detectable=false
*.png linguist-detectable=false
*.jpg linguist-detectable=false
*.svg linguist-detectable=false
poppler/** linguist-vendored=true
tesseract/** linguist-vendored=true

*.py linguist-language=Python
